<h2>PAINEL DE CONTROLO</h2>


{{!--
<div class="listRiders p-5">

    <main>
        
        <form method="post" action="/kandonga">

            <label for="id">ID:</label> <br>
            <input type="text" id="id" name="id" placeholder="ID User"> <br>
            <label for="email">Email:</label> <br>
            <input type="email" id="email" name="email" placeholder="Email"> <br>
            <label for="name">Nome:</label> <br>
            <input type="text" id="name" name="name" placeholder="Name"> <br>
            <label for="phone">Telemóvel:</label> <br>
            <input type="text" id="phone" name="phone" placeholder="Telemóvel"> <br>

            <button id="addBtn" class="btn btn-success">Adicionar</button>
            <button id="updateBtn" class="btn btn-primary">Update</button>
            <button id="removeBtn" class="btn btn-warning">Remover</button>
            
        </form>

    </main>

</div>
  --}}
