<div class="text-center py-5">


    <h2>Riders List</h2>

</div>

<hr>


{{!-- <a href="/new"><button class="btn btn-primary mb-5">Add new</button></a> --}}
{{!-- 
    <div class="listRiders p-5">

        <main>
            <form action="/kandonga/riders">

                <input type="text" id="id" name="id" placeholder="ID User" value="{{rider.id}}"> <br>
                <label for="email">Email:</label> <br>
                <input type="email" id="email" name="email" placeholder="Email" value="{{rider.email}}"> <br>
                <label for="name">Nome:</label> <br>
                <input type="text" id="name" name="name" placeholder="Name" value="{{rider.name}}"> <br>
                <label for="phone">Telemóvel:</label> <br>
                <input type="text" id="phone" name="phone" placeholder="Telemóvel" value="{{rider.phone}}"> <br>

                <button id="updateBtn" class="btn btn-primary">Atualizar</button>
                
            </form>
        </main>

    </div> --}}


{{>_listAllRiders}}


