<div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/https://whispering-fjord-52560.herokuapp.com/">
                  <span data-feather="home"></span>
                  Início
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/https://whispering-fjord-52560.herokuapp.com/drivers">
                  <i class="bi bi-person-badge-fill"></i>
                  Motoristas
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/https://whispering-fjord-52560.herokuapp.com/riders">
                  <i class="bi bi-people"></i>
                  Passageiros
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/https://whispering-fjord-52560.herokuapp.com/finances">
                  <i class="bi bi-cash-coin"></i>
                  Finanças
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/https://whispering-fjord-52560.herokuapp.com/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  Sair
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Relatório</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/semanal">
                  <span data-feather="file-text"></span>
                  Semanal
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mensal">
                  <span data-feather="file-text"></span>
                  Mensal
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/semestral">
                  <span data-feather="file-text"></span>
                  Semestral
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/anual">
                  <span data-feather="file-text"></span>
                  Anual
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            

            
          </div>

          {{>_listAllRiders}}    


          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h2>Melhores Pontuações</h2>
          <div class="table-responsive">

            <!-- 
              {{>_tablePoints}}
            -->

          </div>
        </main>
      </div>
    </div>