
        <div class="mt-5" style="display: block; justify-content: space-between; align-items: center;">
            
            {{#if riders}}


                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nome completo</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>

                        {{#each riders}}

                            <tr>

                                <th  scope="row">{{name}}</th>
                                <td>{{email}}</td>
                                <td><a href="riders/{{email}}" id="getByEmail" class="btn btn-kandonga" style="cursor: pointer; min-width: 150px;">Ver Perfil</a></td>
                                
                            </tr>
                        
                        {{else}}

                        {{/each}}

                    </tbody>
                </table>            

            {{/if}}
        </div>

