
        <div class="mt-5" style="display: block; justify-content: space-between; align-items: center;">
            
            {{#if drivers}}


                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nome completo</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>

                        {{#each drivers}}

                        <tr>
                            <th  scope="row">{{name}}</th>
                            <td>{{email}}</td>
                            <td><a href="drivers/{{email}}" id="getByEmail" class="btn btn-kandonga">Ver Perfil</a></td>
                        </tr>
                        
                        {{else}}

                        {{/each}}

                    </tbody>
                </table>            

            {{/if}}
        </div>

